<html>
    <head>
        <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body class="locked-screen">
        <div class="main-navigation-mobile" id="mobile-nav-container">
            <div class="main-navigation-logo-top"></div>
            <div class="main-navigation-mobile__button" id="mobile-nav"><i class="fas fa-bars"></i></div>
        </div>
        <header class="heroBanner">
            <div class="main-logo">
                <h1 class="main-logo__logo">WHM?</h1>
                <h3 class="main-logo__blurb">
                    What Happens Next?<br>
                    a magazine about innovation
                </h3>
            </div>
        </header>
        <div class="main-navigation-container" id="mainNav">
            <nav class="main-navigation">
                <div class="main-navigation-logo">WHM?</div>
                <ul class="main-navigation-menu">
                    <li class="main-navigation-menu__menu-element">
                        <a class="main-navigation-menu__menu-element--link" href="#">INSPIRATION</a>
                    </li>
                    <li class="main-navigation-menu__menu-element">
                        <a class="main-navigation-menu__menu-element--link" href="#">CARS</a>
                    </li>
                    <li class="main-navigation-menu__menu-element">
                        <a class="main-navigation-menu__menu-element--link" href="#">INNOVATION</a>
                    </li>
                    <li class="main-navigation-menu__menu-element">
                        <a class="main-navigation-menu__menu-element--link" href="#">CULTURE</a>
                    </li>
                </ul>
                <div class="main-navigation-search" id="search-button"><i class="fas fa-search"></i></div>
                
            </nav>
            <div class="home-page-search" id="homepage-search">
                <div class="home-page-search__container">
                    <i class="fas fa-search"></i><input type="text" placeholder="search field">
                </div>
            </div>
        </div>
        <div class="home-page-articles">
            <h3 class="home-page-articles__title"><span>On this issue</span></h3>
            <ul class="home-page-articles-list">
                <li class="home-page-articles-list__article">
                    <a href="/story" class="home-page-articles-list__article--link">
                        <div class="home-page-articles-list__article--image" style="background-image: url('http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/friends_main.jpg?itok=Wmh9VQWO')"></div>
                        <div class="home-page-articles-list__article--blurb">
                            <h4 class="home-page-articles-list__article--blurb-title">Title</h4>
                            <div class="home-page-articles-list__article--blurb-content">Lorem Ipsum Dolor...</div>
                            <div class="home-page-articles-list__info">
                                <div class="home-page-articles-list__info--date">00:00:00</div>
                                <div class="home-page-articles-list__info--time-logo"><i class="fas fa-stopwatch"></i></div>
                                <div class="home-page-articles-list__info--time-read">Time to Read</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-page-articles-list__article">
                    <a href="/story" class="home-page-articles-list__article--link">
                        <div class="home-page-articles-list__article--image" style="background-image: url('http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/friends_main.jpg?itok=Wmh9VQWO')"></div>
                        <div class="home-page-articles-list__article--blurb">
                            <h4 class="home-page-articles-list__article--blurb-title">Title</h4>
                            <div class="home-page-articles-list__article--blurb-content">Lorem Ipsum Dolor...</div>
                            <div class="home-page-articles-list__info">
                                <div class="home-page-articles-list__info--date">00:00:00</div>
                                <div class="home-page-articles-list__info--time-logo"><i class="fas fa-stopwatch"></i></div>
                                <div class="home-page-articles-list__info--time-read">Time to Read</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-page-articles-list__article">
                    <a href="/story" class="home-page-articles-list__article--link">
                        <div class="home-page-articles-list__article--image" style="background-image: url('http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/friends_main.jpg?itok=Wmh9VQWO')"></div>
                        <div class="home-page-articles-list__article--blurb">
                            <h4 class="home-page-articles-list__article--blurb-title">Title</h4>
                            <div class="home-page-articles-list__article--blurb-content">Lorem Ipsum Dolor...</div>
                            <div class="home-page-articles-list__info">
                                <div class="home-page-articles-list__info--date">00:00:00</div>
                                <div class="home-page-articles-list__info--time-logo"><i class="fas fa-stopwatch"></i></div>
                                <div class="home-page-articles-list__info--time-read">Time to Read</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-page-articles-list__article">
                    <a href="/story" class="home-page-articles-list__article--link">
                        <div class="home-page-articles-list__article--image" style="background-image: url('http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/friends_main.jpg?itok=Wmh9VQWO')"></div>
                        <div class="home-page-articles-list__article--blurb">
                            <h4 class="home-page-articles-list__article--blurb-title">Title</h4>
                            <div class="home-page-articles-list__article--blurb-content">Lorem Ipsum Dolor...</div>
                            <div class="home-page-articles-list__info">
                                <div class="home-page-articles-list__info--date">00:00:00</div>
                                <div class="home-page-articles-list__info--time-logo"><i class="fas fa-stopwatch"></i></div>
                                <div class="home-page-articles-list__info--time-read">Time to Read</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-page-articles-list__article">
                    <a href="/story" class="home-page-articles-list__article--link">
                        <div class="home-page-articles-list__article--image" style="background-image: url('http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/friends_main.jpg?itok=Wmh9VQWO')"></div>
                        <div class="home-page-articles-list__article--blurb">
                            <h4 class="home-page-articles-list__article--blurb-title">Title</h4>
                            <div class="home-page-articles-list__article--blurb-content">Lorem Ipsum Dolor...</div>
                            <div class="home-page-articles-list__info">
                                <div class="home-page-articles-list__info--date">00:00:00</div>
                                <div class="home-page-articles-list__info--time-logo"><i class="fas fa-stopwatch"></i></div>
                                <div class="home-page-articles-list__info--time-read">Time to Read</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-page-articles-list__article">
                    <a href="/story" class="home-page-articles-list__article--link">
                        <div class="home-page-articles-list__article--image" style="background-image: url('http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/friends_main.jpg?itok=Wmh9VQWO')"></div>
                        <div class="home-page-articles-list__article--blurb">
                            <h4 class="home-page-articles-list__article--blurb-title">Title</h4>
                            <div class="home-page-articles-list__article--blurb-content">Lorem Ipsum Dolor...</div>
                            <div class="home-page-articles-list__info">
                                <div class="home-page-articles-list__info--date">00:00:00</div>
                                <div class="home-page-articles-list__info--time-logo"><i class="fas fa-stopwatch"></i></div>
                                <div class="home-page-articles-list__info--time-read">Time to Read</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-page-articles-list__article">
                    <a href="/story" class="home-page-articles-list__article--link">
                        <div class="home-page-articles-list__article--image" style="background-image: url('http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/friends_main.jpg?itok=Wmh9VQWO')"></div>
                        <div class="home-page-articles-list__article--blurb">
                            <h4 class="home-page-articles-list__article--blurb-title">Title</h4>
                            <div class="home-page-articles-list__article--blurb-content">Lorem Ipsum Dolor...</div>
                            <div class="home-page-articles-list__info">
                                <div class="home-page-articles-list__info--date">00:00:00</div>
                                <div class="home-page-articles-list__info--time-logo"><i class="fas fa-stopwatch"></i></div>
                                <div class="home-page-articles-list__info--time-read">Time to Read</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-page-articles-list__article">
                    <a href="/story" class="home-page-articles-list__article--link">
                        <div class="home-page-articles-list__article--image" style="background-image: url('http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/friends_main.jpg?itok=Wmh9VQWO')"></div>
                        <div class="home-page-articles-list__article--blurb">
                            <h4 class="home-page-articles-list__article--blurb-title">Title</h4>
                            <div class="home-page-articles-list__article--blurb-content">Lorem Ipsum Dolor...</div>
                            <div class="home-page-articles-list__info">
                                <div class="home-page-articles-list__info--date">00:00:00</div>
                                <div class="home-page-articles-list__info--time-logo"><i class="fas fa-stopwatch"></i></div>
                                <div class="home-page-articles-list__info--time-read">Time to Read</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <footer class="footer">
            <div class="footer-wrapper">
                <div class="footer-navigation">
                    <div class="footer-logo"></div>
                    <ul class="footer-menu">
                        <li class="footer-menu__element">
                            <a class="footer-menu__element--link" href="#">Policy Link</a>
                        </li>
                        <li class="footer-menu__element">
                            <a class="footer-menu__element--link" href="#">Policy Link</a>
                        </li>
                        <li class="footer-menu__element">
                            <a class="footer-menu__element--link" href="#">Policy Link</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-signup footer-newsletter-visible" id="newsletter">
                    <div class="footer-signup-content">
                        <h3 class="footer-signup-title">Sign up to our newsletter</h3>
                        <p class="footer-signup-content__blurb">Get up to date with our news</p>
                    </div>
                    <form class="footer-signup-form">
                        <select class="footer-signup-form__name--title" placeholder="Title" name="title">
                            <option>Mr.</option>
                            <option>Mrs.</option>
                            <option>Miss</option>
                        </select>
                        <div class="hfootersignup-form__name">
                            <input class="footer-signup-form__name--name" type="text" placeholder="First Name" name="firstName">
                            <input class="footer-signup-form__name--name" type="text" placeholder="Surname" name="surname">
                        </div>
                        <input class="footer-signup-form__name--email" type="email" placeholder="Enter your email..." name="email">
                        <button class="footer-signup-form__submit" id="newsletter-top-submit">Sign Up</button>
                    </form>
                </div>
                <div class="footer-signup__thankyou" id="thankyou">
                    <div>
                        <h3>Thank You Header</h3>
                        <p>Thanks copy that fill about two lines of copy.</p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="popup-container" id="modal-container">
            <div class="home-page-cookie cookie-visible" id="cookie-modal">
                <div class="home-page-cookie-content">
                    <h3 class="home-page-cookie-title">Cookies</h3>
                    <p class="home-page-cookie-content__blurb">We use cookies on our websites so we can show you the most relevant content and ads, and keep improving our site. You are free to manage this via your browser setting at any time. Please see our Cookie Policy for more details. Otherwise, we’ll assume you’re happy to continue.</p>
                </div>
                <form class="home-page-cookie-form">
                    <button class="home-page-signup-form__submit" id="newsletter-top-submit">Accept Cookies</button>
                </form>
                <div class="close-button" id="close-ckmodal"><i class="fas fa-times"></i></div>
            </div>
            <div class="home-page-signup" id="newsletter-modal">
                <div class="home-page-signup-content">
                    <h3 class="home-page-signup-title">Sign up to our newsletter</h3>
                    <p class="home-page-signup-content__blurb">Get up to date with our news</p>
                </div>
                <form class="home-page-signup-form">
                    <select placeholder="Title" name="title">
                        <option>Mr.</option>
                        <option>Mrs.</option>
                        <option>Miss</option>
                    </select>
                    <input class="home-page-signup-form__name" type="text" placeholder="First Name" name="firstName">
                    <input class="home-page-signup-form__name" type="text" placeholder="Surname" name="surname">
                    <input class="home-page-signup-form__email" type="email" placeholder="Enter your email..." name="email">
                    <button class="home-page-signup-form__submit" id="newsletter-top-submit">Sign Up</button>
                </form>
                <div class="close-button" id="close-nlmodal"><i class="fas fa-times"></i></div>
            </div>

        </div>
        <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    </body>
</html>