/*.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $dark-transparent;
    height: calc(100vh - 40px);
    max-width: calc(100vw - 40px);
    display: none;
    padding: 20px;
    opacity: 1;
    transition: .5s;
    z-index: 55;
}
.closed-modal {
    opacity: 0;
    transition: .5s;
}
.opened-modal {
    opacity: 1;
    transition: .5s;
}
.locked-navigation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $dark-transparent;
}
.footer-newsletter-visible {
    display: flex;
    @media only screen and (max-width: 768px) {
        display: none;
    }
}
.reveal-search {
    height: 50px;
}
.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
}
.body-short {
    height: 100vh;
    overflow: hidden;
}
.menu-show {
    margin-right: 0%;
    position: fixed;
}
.half-transparent {
    background-color: $dark-transparent;
    .main-navigation-logo-top {
        display: block;
    }
    .main-navigation-mobile__button {
        text-shadow: 2px 2px transparent;
    }
}*/
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $dark-transparent;
    height: calc(100vh - 40px);
    max-width: calc(100vw - 40px);
    display: none;
    padding: 20px;
    opacity: 1;
    transition: .5s;
    z-index: 55;
}
.closed-modal {
    opacity: 0;
    transition: .5s;
}
.opened-modal {
    opacity: 1;
    transition: .5s;
}
.locked-navigation {
    position: fixed;
    left: 0;
    top: 0;
    opacity: .8;
    @media only screen and (max-width: 768px) {
        //position: absolute;
    }
}
.footer-newsletter-visible {
    display: flex;
    @media only screen and (max-width: 768px) {
        display: none;
    }
}
.reveal-search {
    height: 50px;
}
.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
}
.body-short {
    height: 100vh;
    overflow: hidden;
}
.menu-show {
    margin-right: 0%;
    position: fixed;
}
.locked-screen {
    height: 200px;
    overflow: hidden;
}
.half-transparent {
    background-color: $dark-transparent;
    .main-navigation-logo-top {
        display: block;
    }
    .main-navigation-mobile__button {
        text-shadow: 2px 2px transparent;
    }
}