.heroBanner {
    background-position-x: center;
    background-size: cover;
    width: calc(100% - 80px);
    padding: 20px 40px;
    min-height: 300px;
    @media only screen and (max-width: 768px) {
        min-height: 180px;
        padding: 45px 10px 20px;
    }
}
.articleBanner {
    background-position-x: center;
    background-size: cover;
    width: calc(100% - 80px);
    padding: 20px 40px;
    min-height: 430px;
    @media only screen and (max-width: 768px) {
        min-height: 250px;
    }
}
.main-logo {
    margin: 65px auto 0;
    width: 100%;
    max-width: 1185px;
    &__logo {
        font-size: 3rem;
        background: url('../assets/images/WHN-Logo.png') no-repeat;
        background-size: 100%;
        width: 330px;
        height: 108px;
        text-indent: -9999px;
        overflow: hidden;
        margin: 0;
        @media only screen and (max-width: 786px) {
            width: 165px;
            height: 54px;
        }
    }
    &__blurb {
        font-size: .9rem;
        color: $black;
        padding-left: 20px;
    }
}
.main-navigation {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1185px;
    margin: 0 auto;
    position: relative;
    @media only screen and (max-width: 768px) {
        display: block;
        padding-top: 18px;
    }
    &-mobile {
        position: relative;
        display: none;
        color: $white;
        font-size: 2rem;
        z-index: 50;
        width: 100%;
        height: 45px;
        @media only screen and (max-width: 768px) {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
        }
        &__button {
            position: absolute;
            right: 10px;
            top: 5px;
            text-shadow: 2px 2px $dark-transparent;
        }
    }
    &-container {
        background-color: $dark-grey;
        position: relative;
        z-index: 20;
        width: 100%;
        @media only screen and (max-width: 768px) {
            position: fixed;
            height: 100vh;
            top: 45px;
            right: 0;
            margin-right: -100%;
            transition: 1s;
            background-color: $dark-transparent;
        }
    }
    &-logo-top {
        position: absolute;
        left: 5px;
        display: none;
        top: 5px;
        background: url('../assets/images/WHN-Logo-small.png') no-repeat;
        background-size: 100%;
        width: 105px;
        height: 35px;
        text-indent: -9999px;
        @media only screen and (min-width: 769px) {
            display: none;
        }
    }
    &-logo {
        position: absolute;
        left: 0;
        font-size: 1.8rem;
        background: url('../assets/images/WHN-Logo-small.png') no-repeat;
        background-size: 100%;
        width: 105px;
        height: 35px;
        text-indent: -9999px;
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
    &-menu {
        list-style-type: none;
        padding: 10px;
        margin: 10px 110px;
        @media only screen and (max-width: 768px) {
            margin: 55px 0;
        }
        &__menu-element {
            display: inline-block;
            border-right: 1px solid $white;
            padding: 0 25px;
            font-family: Adobe Caslon;
            @media only screen and (max-width: 768px) {
                display: block;
                border: 0 solid transparent;
                padding: 10px 0;
            }
            &:last-child {
                border-right: 0 solid transparent;
            }
            &--link {
                text-decoration: none;
                color: $white;
                cursor: pointer;
                &:hover, &:active {
                    text-decoration: underline;
                }
            }
        }
    }
    &-search {
        position: absolute;
        right: 20px;
        width: 45px;
        cursor: pointer;
        text-align: center;
        margin: 0;
        font-size: 1.3rem;
        i {
            color: $white;
            font-size: 2rem;
            transform: rotate(90deg);
        }
    }
}
.home-page {
    &-search {
        background-color: $lighter-grey;
        height: 0;
        overflow: hidden;
        transition: .5s;
        @media only screen and (max-width: 768px) {
            position: absolute;
            bottom: 45px;
            left: 0;
            width: 100%;
            padding-left: 10px;
        }
        i {
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            line-height: 50px;
            color: $light-grey;
        }
        input {
            width: calc(100% - 40px);
            font-size: 1rem;
            background-color: transparent;
            border: 0;
            margin: 10px 0;
            height: 30px;
            padding: 10px;
            color: $light-grey;
        }
        &__container {
            width: 100%;
            max-width: 1185px;
            margin: 0 auto;
            display: flex;
        }
    }
    &-signup {
        background-color: $light-grey;
        margin: 10px 0;
        position: relative;
        overflow: hidden;
        padding: 10px;
        &-content {
            margin-right: 20px;
        }
        &-form {
            text-align: right;
            &__email {
                font-size: 1.2rem;
                color: $light-grey;
                height: 30px;
                border: 0;
                border-radius: 10px;
                padding: 5px 15px;
            }
            &__submit {
                margin: 10px 0;
                border: 0;
                border-radius: 10px;
                height: 30px;
                padding: 0 30px;
                font-size: 1.2rem;
                color: $dark-grey;
                background-color: $lighter-grey;
                cursor: pointer;
            }
        }
    }
    &-cookie {
        background-color: $light-grey;
        padding: 10px;
        position: relative;
    }
    &-articles {
        padding: 20px 0 65px 0 ;
        max-width: 1185px;
        margin: 0 auto;
        @media only screen and (max-width: 768px) {
            padding: 0;
        }
        &__title {
            color: $dark-grey;
            margin: 30px 0;
            span {
                font-family: Proxima Bold;
            }
            @media only screen and (max-width: 768px) {
                margin: 30px 15px;
            }
        }
        &-list {
            padding-left: 0;
            list-style-type: none;
            &__article {
                margin: 5px;
                position: relative;
                width: calc(25% - 15px);
                display: inline-block;
                cursor: pointer;
                &:hover .home-page-articles-list__article--blurb-title, &:hover .home-page-articles-list__article--blurb-content {
                    color: $pink;
                    transition: .5s;
                }
                @media only screen and (max-width: 1150px) {
                    width: calc(50% - 13px);
                }
                @media only screen and (max-width: 768px) {
                    width: calc(100% - 30px);
                    margin-left: 15px;
                    max-width: 100%;
                }
                &--image {
                    width: 100%;
                    //max-width: 384px;
                    background-size: cover;
                    background-position-x: center;
                    min-height: 260px;
                    @media only screen and (max-width: 768px) {
                        max-width: 100%;
                    }
                }
                &--blurb {
                    bottom: 0;
                    left: 0;
                    //width: calc(100% - 20px);
                    padding: 10px;
                    height: 125px;
                    background-color: $lighter-grey;
                    &-title {
                        text-transform: uppercase;
                        text-overflow: ellipsis;
                        font-family: Proxima Bold;
                    }
                    &-content {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        max-height: 2.8rem;
                        color: $dark-grey;
                    }
                }
                &--link {
                    text-decoration: none;
                    color: $black;
                }
            }
            &__info {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $light-grey;
                &--date, &--time-logo, &--time-read {
                    margin: 15px;
                }
                &--time-logo {
                    color: $dark-grey;
                }
            }
        }
    }
}

.story-page {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1185px;
    margin: 10px auto;
    @media only screen and (max-width: 768px) {
        display: block;
    }
    &-content {
        padding: 0;
        @media only screen and (max-width: 768px) {
            padding: 10px;
        }
    }
    &-articles {
        max-width: 850px;
        margin: 0 auto;
        @media only screen and (max-width: 768px) {
            padding: 0;
        }
        &__title {
            margin: 30px 0;
            font-family: Proxima Bold;
            color: $pink;
            @media only screen and (max-width: 768px) {
                margin: 30px 15px;
            }
        }
        &__subtitle {
            color: $dark-grey;
            margin: 30px 0;
            font-family: Adobe Caslon Italic;
            font-style: italic;
            font-weight: 300;
            span {
                font-family: Proxima Bold;
                font-style: normal;
            }
            @media only screen and (max-width: 768px) {
                margin: 30px 15px;
            }
        }
        &__textbox {
            p {
                &:first-child::first-letter {
                    text-transform: uppercase;
                    font-size: 3em;
                    font-weight: bold;
                    color: $pink;
                    line-height: 40px;
                    float: left;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    letter-spacing: 5px;
                }
            }
        }
        &__article {
            margin: 5px;
            position: relative;
            width: calc(33% - 10px);
            display: inline-block;
            cursor: pointer;
            &-images-one {
                &--full {
                    width: calc(100% - 12px);
                    background-size: cover;
                    background-position-x: center;
                    min-height: 260px;
                    display: inline-block;
                    margin: 5px;
                    @media only screen and (max-width: 768px) {
                        width: calc(100% - 20px);
                        margin: 10px;
                        display: block;
                    }
                }
            }
            &-images-two {
                &--half {
                    width: calc(50% - 14px);
                    background-size: cover;
                    background-position-x: center;
                    min-height: 260px;
                    display: inline-block;
                    margin: 5px;
                    @media only screen and (max-width: 768px) {
                        width: calc(100% - 20px);
                        margin: 10px;
                        display: block;
                    }
                }
            }
            &-images-three {
                &--third {
                    width: calc(33% - 12px);
                    background-size: cover;
                    background-position-x: center;
                    min-height: 260px;
                    display: inline-block;
                    margin: 5px;
                    @media only screen and (max-width: 768px) {
                        width: calc(100% - 20px);
                        margin: 10px;
                        display: block;
                    }
                }
            }
        }
        &__side {
            display: flex;
            div {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
            &-text {
                width: calc(50% - 5px);
            }
            &-image {
                width: calc(50% - 5px);
                margin-top: 20px;
                height: 350px;
                background-size: cover;
                background-position-x: center;
            }
            @media only screen and (max-width: 768px) {
                display: block;
            }
        }
    }
    &-recommendations {
        max-width: 850px;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
        &__title {
            font-family: Proxima Bold;
            text-transform: uppercase;
        }
        &-container {
            display: flex;
            @media only screen and (max-width: 768px) {
                display: block
            }
        }
        &-block {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            &__image {
                width: 100%;
                height: 350px;
                background-size: cover;
                background-position: center;
            }
            &__image, &__content {
                margin: 10px 0;
                padding: 30px;
                width: calc(100% - 60px);
                background-color: $lighter-grey;
            }
            &__content {
                &--title {
                    font-family: Proxima Bold;
                    color: $dark-grey;
                }
            }
        }
    }
    &-interview {
        margin: 20px 0;
        &__title {
            font-family: Proxima Bold;
        }
        &__blurb {
            font-family: inherit;
            margin: 20px 0;
        }
        &-image {
            width: 100%;
            height: 350px;
            background-size: cover;
            background-position-x: center;
        }
        &-content {
            padding: 15px;
            width: calc(100% - 30px);
            background-color: $lighter-grey;
            margin: 10px 0;
            &--question {
                font-family: Proxima Bold;
            }
        }
    }
    &-related-articles {
        width: 100%;
        margin-left: 20px;
        max-width: 335px;
        padding: 10px;
        @media only screen and (max-width: 768px) {
            margin-left: 10px;
            max-width: calc(100% - 40px);
        }
        &-list {
            list-style-type: none;
            padding-left: 0;
            &__article {
                margin-bottom: 20px;
                &--link {
                    text-decoration: none;
                    color: $black;
                    cursor: pointer;
                }
                &--image {
                    height: 185px;
                    background-size: cover;
                    width: 100%;
                }
                &--blurb {
                    font-size: .9rem;
                    background-color: $lighter-grey;
                    height: auto;
                    padding: 10px 10px;
                }
                &:last-child {
                    border-bottom: 0 solid transparent;
                }
                &--title {
                    font-family: Proxima Bold;
                    margin: 5px 0;
                }
            }
            &__info {
                display: flex;
                justify-content: center;
                align-items: center;
                &--date, &--time-logo, &--time-read {
                    margin: 0 5px;
                    font-size: .9rem;
                    color: $grey;
                }
            }
        }
        &__load-more {
            text-align: center;
            width: 100%;
            font-family: Proxima Bold;
            display: block;
            color: $black;
            cursor: pointer;
        }
    }
}

.social-media {
    &__title {
        font-family: Proxima Bold;
        padding: 5px 0;
    }
    &__block {
        max-width: 800px;
        width: 100%;
        margin: 20px auto;
        display: flex;
        @media only screen and (max-width: 768px) {
            display: block;     
        }
        &--twitter, &--facebook, &--share {
            width: calc(33% - 30px);
            margin: 15px;
            text-align: center;
            display: block;
            border-radius: 4px;
            background-color: $dark-grey;
            text-decoration: none;
            padding: 10px 5px;
            font-family: Proxima Bold;
            color: $white;
            transition: .3s;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
                transition: .3s;
            }
            @media only screen and (max-width: 768px) {
                width: 50%;
                margin: 10px auto;
            }
        }
        &--twitter {
            background-color: $twitter;
        }
        &--facebook {
            background-color: $facebook;
        }
    }
}

.footer {
    background-color: $dark-grey;
    &-logo {
        margin: 0 20px;
        background: url('../assets/images/Hyundai-logo.png') no-repeat;
        background-size: 100%;
        width: 295px;
        height: 44px;
        @media only screen and (max-width: 768px) {
            margin: 0 auto;
        }
    }
    &-wrapper {
        width: 100%;
        max-width: 1185px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 200px;
    }
    &-navigation {
        width: 50%;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &-menu {
        padding-left: 0;
        list-style-type: none;
        @media only screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
        }
        &__element {
            display: inline-block;
            margin: 0 15px;
            &--link {
                display: block;
                text-decoration: none;
                color: $light-grey;
                cursor: pointer;
            }
        }
    }
    &-signup {
        clear: both;
        position: relative;
        //height: 100px;
        overflow: hidden;
        color: $light-grey;
        display: none;
        justify-content: center;
        align-items: center;
        width: 50%;
        @media only screen and (max-width: 768px) {
            display: none;
        }
        &__thankyou {
            display: none;
            font-size: 1rem;
            color: $light-grey;
            h3 {
                font-size: 1.3rem;
                font-family: Proxima Bold;
                margin: 10px 0;
            }
        }
        &-wrapper {
            width: 100%;
            max-width: 1185px;
            margin: 0 auto;
        }
        &-title {
            margin-top: 0;
            text-transform: uppercase;
        }
        &-content {
            margin-bottom: 20px;
            width: 50%;
            &__blurb {
                margin: 0 20px 0 0;
            }
        }
        &-form {
            width: 50%;
            &__name {
                &--title, &--name, &--email, &--title {
                    height: 25px;
                    border-radius: 25px;
                    color: $dark-grey;
                    border: 0;
                    font-size: .9rem;
                    padding: 5px 15px;
                    text-align: right;
                    font-style: italic;
                    &::placeholder {
                        color: $light-grey;
                    } 
                }
                /*&--title {
                    text-align: right;
                }*/
                &--name {
                    width: calc(50% - 10px);
                    display: inline-block;
                    margin: 5px 5px 5px 0;
                    &:last-child {
                        margin: 5px 0;
                    }
                }
                &--email {
                    width: calc(100% - 10px);
                }
            }
            
            &__submit {
                margin: 10px 0;
                border: 0;
                border-radius: 25px;
                height: 25px;
                padding: 0 20px;
                font-size: 1.2rem;
                color: $dark-grey;
                background-color: $light-grey;
                cursor: pointer;
            }
        }
    }
}

// Slider styles

.slider {
    width: 100%;
    max-width: 840px;
    overflow: hidden;
    &__content {
        height: 350px;
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        transition: .5s;
        &--slide {
            width: 100%;
            height: 350px;
            background-size: 100%;
            float: left;
        }
    }
}

// End of Slider styles