$dark-grey: #333333;
$white: #fff;
$black: #000;
$grey: #c1c1c1;
$light-grey: #c1c1c1;
$lighter-grey: #f0f0f0;
$dark-transparent: rgba(0,0,0,.8);
$related-article-first: #154975;
$related-article-second: #BF9C84;
$related-article-third: #254082;
$pink: #ca6272;
$twitter: #38A1F3;
$facebook: #3C5A99;