@import 'variables';
@import 'layout';
@import 'functionality';

@font-face {
    font-family: Proxima Nova;
    src: url('../assets/Proxima_Nova/ProximaNova-Light.otf');
}
@font-face {
    font-family: Proxima Bold;
    src: url('../assets/Proxima_Nova/ProximaNova-Bold.otf');
}
body {
    font-family: Proxima Nova, Trebuchet MS, 'Sans serif';
    //color: $white;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}